.resume-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  /* grid-auto-rows: auto; */
  margin-top: 50px;
}
.resume-content-left {
  grid-column: 1 / 2;
  grid-row: 1;
}

.resume-content-right {
  grid-column: 2 / 2;
  grid-row: 1;
}