.App {
  text-align: center;
  background-color: darkolivegreen;
  /* background-size: cover; */
  height: 100vh;
  box-sizing: border-box;
}

.Category {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  user-select: none;
  padding: 5px;
}

.Navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  width: 100%;
}
